.nav {
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.active {
  opacity: 0.5;
  color: black;
  transform: scale(1.5);
}
