.main {
  height: 100vh;
  position: relative;
}
.frontground {
  width: 1000px;
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 1px 1px 1px #979494;
  background-color: white;
}

.signupform {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  justify-content: stretch;
}
.frontground {
  position: absolute;
  height: 550px;
}
.loginImage {
  height: 550px;
}
